# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version = 0.1

[default]
[default.global.parameters]
stack_name = "skicyclerunAPI-v2"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = false
s3_prefix = "skicyclerunAPI"
s3_bucket = "skicyclerun.sam"
parameter_overrides = "ProtectedContentBucket=skicyclerun.lib UserPoolArn=arn:aws:cognito-idp:us-west-2:635874589224:userpool/us-west-2_nkPiRBTSr AllowedOrigins=\"https://skicyclerun.com,https://dev.skicyclerun.com,http://localhost:4321,https://localhost:4321\""

[default.package.parameters]
resolve_s3 = false

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.local_start_lambda.parameters]
warm_containers = "EAGER"
